<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>流程管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/resources/css/public.css" media="all"/>
    <link rel="stylesheet" href="/resources/layui_ext/dtree/dtree.css" media="all"/>
    <link rel="stylesheet" href="/resources/layui_ext/dtree/font/dtreefont.css" media="all"/>
</head>
<body class="childrenBody">
<!-- 查询条件开始 -->
<!--<fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">-->
    <!--<legend>查询条件</legend>-->
<!--</fieldset>-->
<blockquote class="layui-elem-quote">
    <form action="" method="post" id="searchFrm" lay-filter="searchFrm" class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">流程名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="deploymentName" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline" style="text-align: center;">
                    <button type="button" class="layui-btn" lay-submit="" lay-filter="doSearch"><span
                            class="layui-icon layui-icon-search"></span>查询
                    </button>
                    <button type="reset" class="layui-btn layui-btn-warm"><span
                            class="layui-icon layui-icon-refresh-1"></span>重置
                    </button>
                </div>
            </div>
        </div>
    </form>
</blockquote>
<!-- 查询条件结束-->


<!-- 数据表格开始 -->
<div>
    <table class="layui-hide" id="deploymentTable" lay-filter="deploymentTable"></table>
    <div id="deploymentToolBar" style="display: none;">
        <button type="button" lay-event="add" class="layui-btn layui-btn-sm"><span
                class="layui-icon layui-icon-add-1"></span>添加流程
        </button>
    </div>
    <div id="deploymentRowBar" style="display: none;">
        <button type="button" lay-event="showView" class="layui-btn layui-btn-sm"><span
                class="layui-icon layui-icon-edit"></span>查看流程图
        </button>
        <button type="button" lay-event="delete" class="layui-btn layui-btn-sm layui-btn-danger"><span
                class="layui-icon layui-icon-delete"></span>删除
        </button>
    </div>
</div>

<div style="margin-top: 10px">
    <table class="layui-hide" id="processDefinitionTable" lay-filter="processDefinitionTable"></table>
</div>

<!-- 数据表格结束 -->
<!-- 添加和修改的弹出层开始 -->
<div style="display: none;padding: 5px" id="addOrUpdateDiv">
    <form action="" method="post" class="layui-form layui-form-pane" id="dataFrm" lay-filter="dataFrm">
        <div class="layui-form-item">
            <label class="layui-form-label">流程名称</label>
            <div class="layui-input-block">
                <input type="text" name="deploymentName" id="deploymentName"  lay-verify="required" autocomplete="off" placeholder="请输入流程名称"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">流程图文件</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <button type="button" class="layui-btn layui-btn-normal" id="uploadProcess">选择流程图文件</button>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center;">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="doSubmit" id="doSubmit"><span
                        class="layui-icon layui-icon-add-1"></span>提交
                </button>
                <button type="reset" class="layui-btn layui-btn-warm"><span
                        class="layui-icon layui-icon-refresh-1"></span>重置
                </button>
            </div>
        </div>
    </form>
</div>
<!-- 添加和修改的弹出层结束 -->

<!--流程图div-->
<div style="display: none;text-align: center;padding: 5px" id="showImgDiv">
    <img  id="viewProcessImg" />
</div>


<script type="text/javascript" src="/resources/layui/layui.js"></script>
<script type="text/javascript">


    layui.use(['jquery', 'form', 'table', 'layer','upload'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var table = layui.table;
        var layer = layui.layer;
        var upload=layui.upload;


        //加载流程部署数据
        var tableDeploymentIns = table.render({
            elem: '#deploymentTable'
            , url: '/workFlow/loadAllDeployment'
            , toolbar: '#deploymentToolBar' //开启头部工具栏，并为其绑定左侧模板
            , title: '流程部署数据表'
            , height: 'full-450'
            , page: true
            , limits: [5, 10, 15, 20]
            , limit: 5
            , cols: [ [
                {field: 'id', title: '部署ID', align: 'center'}
                , {field: 'name', title: '部署名称', align: 'center'}
                , {field: 'deploymentTime', title: '部署时间', align: 'center'}
                , {fixed: 'right', title: '操作', toolbar: '#deploymentRowBar', align: 'center', width: '300'}
            ] ]
        });

        //加载流程定义数据
        var tableProcessDefinitionIns = table.render({
            elem: '#processDefinitionTable'
            , url: '/workFlow/loadAllProcessDefinition'
            , title: '流程定义数据表'
            , height: 'full-460'
            , page: true
            , limits: [5, 10, 15, 20]
            , limit: 5
            , cols: [ [
                {field: 'id', title: '流程定义ID', align: 'center'}
                , {field: 'name', title: '流程定义名称', align: 'center'}
                , {field: 'key', title: '流程定义KEY', align: 'center'}
                , {field: 'version', title: '流程定义版本', align: 'center'}
                , {field: 'deploymentId', title: '流程定义部署ID', align: 'center'}
                , {field: 'resourceName', title: '资源文件名[bpmn]', align: 'center'}
                , {field: 'diagramResourceName', title: '资源文件名[png]', align: 'center'}
            ] ]
        });


        //模糊查询
        form.on("submit(doSearch)", function (data) {
            tableDeploymentIns.reload({
                where: data.field,
                page: {
                    curr: 1
                }
            });
            tableProcessDefinitionIns.reload({
                where: data.field,
                page: {
                    curr: 1
                }
            });
            return false;
        });

        //监听工具条的事件
        table.on("toolbar(deploymentTable)", function (obj) {
            switch (obj.event) {
                case 'add':
                    openAddLayer();
                    break;
            }
            ;
        });

        //监听行工具条的事件
        table.on("tool(deploymentTable)", function (obj) {
            var data = obj.data; //获得当前行数据
            switch (obj.event) {
                case 'showView':
                    showWorkflow(data);
                    break;
                case 'delete':
                    deleteWorkFlow(data);
                    break;

            }
            ;
        });

        var mainIndex;
        var url;

        //打开部署流程的弹出层
        function openAddLayer() {
            mainIndex = layer.open({
                type: 1,
                content: $("#addOrUpdateDiv"),
                area: ['600px', '300px'],
                title: '添加流程',
                success: function () {
                    $("#dataFrm")[0].reset();
                    url = "/workFlow/addWorkFlow";
                }
            });
        }

        //选完文件后不自动上传
        upload.render({
            elem: '#uploadProcess'
            ,url: '/workFlow/addWorkFlow' //改成您自己的上传接口
            ,auto: false
            ,accept:'file'  //指定允许上传时校验的文件类型
            ,acceptMime:'application/zip'  //规定打开文件选择框时，筛选出的文件类型
            ,exts:'zip'     //允许上传的文件后缀
            ,field:'mf'     //设定文件域的字段名
            ,data:{         //请求上传接口的额外参数
                deploymentName:function () {
                    return $('#deploymentName').val();
                }
            }
            //,multiple: true
            ,bindAction: '#doSubmit'
            ,done: function(res){   //成功回调
                layer.msg(res.msg);
                console.log(res)
                layer.close(mainIndex);
                tableDeploymentIns.reload();
                tableProcessDefinitionIns.reload();
            }
            ,error:function () {    //失败回调
                layer.msg('部署失败');
                layer.close(mainIndex);
            }
        });


      /*  form.on("submit(doSubmit)", function (data) {
            $.post(url, data.field, function (res) {
                if (res.code == 200) {
                    tableDeploymentIns.reload();
                }
                layer.msg(res.msg);
                layer.close(mainIndex);
            })
            return false;
        });*/

        //删除
        function deleteWorkFlow(data) {
            layer.confirm('你确定要删除【' + data.name + '】这条流程部署吗?', {icon: 3, title: '提示'}, function (index) {
                $.post("/workFlow/deleteWorkFlow", {id: data.id}, function (res) {
                    if (res.code == 200) {
                        tableDeploymentIns.reload();
                    }
                    layer.msg(res.msg);
                })
                layer.close(index);
            });
        }

        //弹出查看层
        function showWorkflow(data){

            layer.open({
                title:"查看【"+data.name+"】流程图",
                type:1,//0-4 默认为0
                //content:"/workflow/toViewProcessImage?deploymentId="+data.id,
                content:$('#showImgDiv'),
                //skin:'layui-layer-molv',
                area:['1000px','550px'], //设置宽高
                //closeBtn:2,  //可以写1  2  boolean   false=不显示关闭按钮
                //shadeClose:true,//点击弹出层之外的位置是否自动关闭
                maxmin:true,//是否显示最大化和最小化的按钮
                resize:true,//设置是否允许拉伸
                success: function () {
                    $("#viewProcessImg").attr("src", "/workFlow/viewProcessImage?deploymentId=" +data.id);
                }
            });
        }

    });
</script>
</body>
</html>